In [1]:
import pandas as pd
df=pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()
df['company']=label.fit_transform(df['company']) 
df['job']=label.fit_transform(df['job']) 
df['degree']=label.fit_transform(df['degree'])
df.head()

   company  job  degree  salary_more_then_100k
0        2    2       0                      0
1        2    2       1                      0
2        2    0       0                      1
3        2    0       1                      1
4        2    1       0                      0

In [ ]:
x=df.drop('salary_more_then_100k',axis='columns')
y=df['salary_more_then_100k']
x

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

In [11]:
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0,  random_state=None,
            splitter='best')
dt.fit(x_train,y_train)
dt.score(x_test,y_test)

0.6

In [13]:
dt.predict([[2,1,0]])

C:\Users\shash\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)